body {
    
    background-color: #01030a;
    color: #e8eddf;
    font-size: 1.3rem;
}

section {
    margin-bottom: 75px;
}

#about {
    margin-bottom: 15px;
}

#mainNav {
    font-size: 1.5rem;
    background-color: #01030a;
}


#mainNav .navbar-brand {
    font-size: 2.4rem;
    color: #00CBFF;
}

#mainNav .nav-link:hover {
    color: #00CBFF;
    transition: color 500ms;
}

#about {
    background-color: #b2b8b8;
    color: #04050c;
    border-radius: 25px;
}

/* #james {
    color: #00CBFF;
} */

.photo_link {
    text-decoration: none;
    color: #e8eddf;
    font-family: 'Raleway', sans-serif;
}

.photo_link:hover {
    color: #00CBFF;
    transition: color 500ms;
}

@media (max-width: 768px) {
    #showcase {
        margin-bottom: 0px;
    }
}

