body {
    background-image: url("imgs/background_image.jpg");
    background-size: cover;
    background-position: bottom 75% center;
    font-size: 1.3rem;
}

section {
    margin-bottom: 15px;
}


#mainNav {
    font-size: 1.75rem;
    text-shadow: 2px 2.5px 2px rgba(0, 0, 0, 0.966);
}


#mainNav .navbar-brand {
    font-size: 1.8rem;
    color: #00CBFF;
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover {
    color: #00CBFF;
    transition: color 500ms;
}

.photo_link {
    text-decoration: none;
    color: #e8eddf;
    font-family: 'Raleway', sans-serif;
}

.photo_link:hover {
    color: #00CBFF;
    transition: color 500ms;
}

.masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2.5px 2px rgba(0, 0, 0, 0.917);
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .2); */
}

@media (max-width: 768px) {
    #showcase {
        margin-bottom: 0px;
    }

    .masthead {
        min-height: 90vh;
    }

    h1 {
        font-size: calc(1.325rem + 3.3vw);
    }
}