body {
    font-family: 'Raleway', sans-serif;
    background-color: #01030a;
    color: #e8eddf;
    font-size: 1.3rem;
}

section {
    margin-bottom: 75px;
}

#about {
    margin-bottom: 15px;
}

#mainNav {
    font-size: 1.5rem;
    background-color: #01030a;
}


#mainNav .navbar-brand {
    font-size: 2.4rem;
    color: #00CBFF;
}

#mainNav .nav-link:hover {
    color: #00CBFF;
    transition: color 500ms;
}

#portfolio {
    background-color: #d4d6d6;
    color: #04050c;
}

#james {
    color: #00CBFF;
}

@media (max-width: 768px) {
    #showcase {
        margin-bottom: 0px;
    }
}

